.OutputWrapper {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 40px auto;
    border-radius: 5px;
}

.Bits {
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

.ColumnValue {
    font-size: 12px;
    color: red;
    font-family: 'Open-Sans';
}